.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.subtitle1,
.subtitle2,
.body1,
.body2,
.body3 {
  margin: 0;
}

.h1,
.h2 {
  font-weight: 300;
}

.h3,
.h4 {
  font-weight: 400;
}

.h5,
.h6 {
  font-weight: 500;
}

.h1 {
  margin-bottom: 33px;

  font-size: 96px;
  line-height: 112px;
}

.h2 {
  margin-bottom: 21px;

  font-size: 60px;
  line-height: 72px;
}

.h3 {
  margin-bottom: 16px;

  font-size: 48px;
  line-height: 56px;
}

.h4 {
  margin-bottom: 12px;

  font-size: 34px;
  line-height: 41px;
}

.h5 {
  margin-bottom: 8px;

  font-size: 24px;
  line-height: 32px;
}

.h6 {
  margin-bottom: 7px;

  font-size: 20px;
  line-height: 32px;
}

.subtitle1 {
  margin-bottom: 6px;

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.subtitle2 {
  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.body1,
.body2,
.body3 {
  font-weight: 400;
}

.body1 {
  margin-bottom: 7px;

  font-size: 18px;
  line-height: 26px;
}

.body2 {
  margin-bottom: 6px;

  font-size: 16px;
  line-height: 22px;
}

.body3 {
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 18px;
}
